<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="jogo">
            <div class="sla" id="board"></div>
        </div>
        
        <div>
            <form id="form-tentativa">
                <input type="text" id="tentativa" name="tentativa" value="">
            </form>
        </div>

        <div>
            <h1>{{palavra}}</h1>  <!-- do render template no flask -->
        </div>
        <script src="../static/js/javascript.js"></script>
    </body>
</html>